Ember FastBoot running at http://:::3000

When I run fastboot, it seems to run without a host, (http://:::3000 rather than http://127.0.0.1:3000). Would that issue be with my local environment, or with fastboot? Or is that not an issue at all?

```
DEBUG: -------------------------------
DEBUG: Ember      : 1.12.1
DEBUG: Ember Data : 1.0.0-beta.20+canary.60c01a3f30
DEBUG: -------------------------------
Ember FastBoot running at http://:::3000
```

That's the short form for all zeroes in ipv6, meaning it’s bound to all interfaces. The proper display for ipv6 in urls should be http://[::]:3000 which is the equivalent of http://0.0.0.0:3000 in ipv4. To access localhost via ipv6 you can use http://[::1]:3000.

This is listening to all interfaces instead of just localhost. We should definitely make this configurable, particularly for production. Tracked in #58.

@tomdale There's also a display issue for the ipv6 case. According to RFC 3986 section 3.2.2 ipv6 addresses in URIs should be enclosed in square brackets. So the proper URI would be `http://[::]:3000`.

@felixbuenemann I'm not sure if I'll have time to get to that right away, but I would gladly accept a PR. The relevant code is here: https://github.com/tildeio/ember-cli-fastboot/blob/master/lib/commands/fastboot.js#L40-L43

@tomdale Done, see PR #60.